GravNN/build/*
GravNN/Files/*
GravNN/.idea/
GravNN/C_Algorithms/.vscode/*

**/.vscode/*
**/.idea/*
**/__pycache__/
**/__init__.pyc
**.pyc
*.code-workspace
**/*.zip
**/hyper_*
**/Hyperparams
Data/*
Notes/*
Plots/*
logs/*
Scripts/Notebooks/Data
Scripts/logs/*
Scripts/Hyperparams/*
venv/*
Scripts/Scratch/*
*-checkpoint.ipynb
Hyperparameter Analysis*

docs/build/*
docs/source/_build/