GravNN/build/*
GravNN/Files/*
GravNN/.idea/
GravNN/C_Algorithms/.vscode/*

**/.vscode/*
**/.idea/*
**/__pycache__/
**/__init__.py
**/__init__.pyc
*.code-workspace
**/*.zip
**/hyper_*
**/Hyperparams
Notes/*
Plots/*
Scripts/logs/*
Scripts/Hyperparams/*